html, body, p {

  padding: 0;
  
  margin: 0;
  font-family: 'karla';
  font-weight: 200;
  color: #fffcec;
  }
  

  html {
    background: linear-gradient(110.6deg, #393E46 -18.3%, #222831 16.4%, #222831 68.2%, #1a1f24 99.1%);
    scrollbar-color: rgb(65, 65, 65) rgb(27, 27, 27);
  }
