.top-nav {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(10px);
  background-color: rgb(29, 29, 29, 0.7);
}

.top-nav-span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin-inline: 30px;
  margin-top: 0px;
  max-width: 1300px;
  flex-grow: 1;
  border-bottom: 1px solid rgb(19, 19, 19);


}

.top-nav-items {
  display: flex;

}

.top-nav-item {
  padding: 10px;
  transition: 0.2s;
  border-radius: 5px;
  position: static;
  font-size: 16px; 
  cursor: pointer;
  
}

.top-nav-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.1);
}

.top-nav-item {
  display: inline-block; /* Ensure inline-block for consistent width */
  width: 60px; /* Adjust width as needed */
  text-align: center; /* Center align text */
  line-height: 20px; 
}

.link {
  color: #fffcec;
}